body {
	background: url(../images/back.png);
	position: relative;
}

.navbar {
	position: fixed;
	height: 90px;
	border-bottom: solid 5px #ddd;
}

.dropdown {
	float: right;
	margin: 50px 100px;
}

#name {
  float: left;
  width: 250px;
  height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: #4aaaa5;

  animation-name: example;
  animation-duration: 4s;
}

#nav-r {
	float: left;
	margin-top: 30px;
}

#box {
	border:solid #ccc 1px;
	background-color: #fff;
	margin-top: 150px;
	padding: 20px;
	margin-bottom: 30px;
}

#exampleTextarea {
	height: 200px;
	display: inline-block;	
}

.form-control {
	flex-direction: column;
}

.page-header {
	border: none;
	color: #4aaaa5;
	font-weight: 700px;
	margin-top: 0;
}

h1 {
	font-weight: 700;
	font-family: Georgia, Times, "Times New Roman", serif;
	border-bottom: solid #ccc 3px;
	padding-bottom: 10px;
}

.leyend{
	text-align: center;
	background-color: #4aaaa5;
	width: 300px;
	font-size: 30px
}

h5 {
	text-align: center;
	float: left;
	position: absolute;

	color: #fff;
	font-weight: 700;
}

.img-circle {
	position: relative;
	position: static;
	width: 300px;
	height: 200px;
}

.img-yo {
	width: 150px;
	height: 150px;
	border: solid 1px #ddd;	
	padding: 4px;
}

.panel-title {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 25px;
  	font-weight: 700;
  	line-height: 30px;
  	color: #4aaaa5;
  	padding-bottom: 20px;
  	border-bottom: solid #ddd 1px;
}

.img {
	width: 50px;
	height: 50px;
}

.panel-body {
	float: left;
	margin: 0;
	padding: 15px 0;
	display: inline-block;
}

.nav>li>a {
	padding: 4px 9px;
}

.footer1 {	
	border-top: solid #4aaaa5 8px;
	background-color: #ccc;
}

footer {
	clear: both;
	text-align: center;
	padding-top: 30px;
	height: 90px;
	background-color: #666;
}

h4 {
	font-size: 12px;
	color: #ccc;
}

@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}


@media screen and (max-width: 980px) {
	
}


@media screen and (max-width: 720px) {

}


@media screen and (max-width: 640px) {
	#button {
		float: left;
		margin: 0;
		padding: 0;
	}
}

